html
{
	background: url(../images/background.PNG) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.logo
{
	position: absolute;
	top: 20px;
}

.image1
{
	position: absolute;
	width: 300px;
	height: 300px;
	top: 250px;
	left: 100px;
	border: 2px solid #021a40;
}
